/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }


#inps {

    display: flex;

    flex-direction: row; 

    
    height: 3em;
    width: 3em;


    
}

.inp {
    margin-right: 1em;
}